<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <conversionRule conversionWord="sanitised"
                  converterClass="com.funkywallet.logging.MnemonicSanitiser"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger{36}) - %sanitised%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
